* {
    bg-col:  #1e1d2f;
    input-bg: #24283b;
    text-col: #cfc9c2;
    select-col: #2ac3de;
    border-col: #bb9af7;
    prompt-col: #7dcfff;
    elem-col: #24283b;
    selected-elem-col: #1a1b26;
    bg-col-light: #414868;
}
