@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: #cf6e00;
    }
}

@keyframes blink-critical {
    70% {
        color: #565f89;
    }

    to {
        color: #565f89;
        background-color: #f7768e;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 10px;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Hack Nerd Font", "Hack Nerd Font", sans-serif;
}

/* The whole bar */
#waybar {
    background: #24283b;
    border-radius: 0;
    color: #cfc9c2;
    font-size: 14px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-menu {
    color: #2fc4ff;
    min-width: 26px;
    font-size: 26px;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 14px;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #cfc9c2;
}

#workspaces button.focused {
    border-color: #cfc9c2;
    color: #cfc9c2;
    background-color: #414868;
}

#workspaces button.urgent {
    border-color: #7dcfff;
    color: #b93add;
}

#custom-scratchpad {
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #cfc9c2;
}

#custom-wf-recorder {
    color: #b93add;
    padding-right: 10px;
}

#mode {
    background: #24283b;
}

#language {
    min-width: 50px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#cpu {
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 50px;
}

#cpu.warning {
    color: #24283b;
}

#cpu.critical {
    color: #f7768e;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 50px;
}

#memory.warning {
    color: #24283b;
}

#memory.critical {
    color: #f7768e;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 50px;
}

#battery.warning {
    color: #24283b;
}

#battery.critical {
    color: #f7768e;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network {
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 25px;
}

#network.disconnected {
    color: #e0af68;
}

#bluetooth {
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 25px;
}

#bluetooth.disabled {
    color: #e0af68;
}

#custom-playerctl {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding-right: 2px;
    min-width: 25px;
}

#pulseaudio {
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 25px;
}

#pulseaudio.muted {
    color: #e0af68;
}

#backlight {
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 50px;
}

#tray {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#clock {
    font-weight: bold;
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding-right: 10px;
    min-width: 100px;
}
